---
const title =
  "RAiD is designed to address key challenges faced by researchers, research organisations, funders, infrastructure providers, and others in the research ecosystem—maintaining consistent and up-to-date information on projects throughout the research lifecycle. ";
---

<div class="bg-raidSecondary sm:py-28 py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid sm:grid-cols-2 grid-cols-1">
      <h1 class="text-white font-light text-sm">
        {title}
      </h1>
    </div>
  </div>
</div>
