---
const title = "In Europe";

const listItems = [
  {
    text: "SURF (Netherlands) is the RAiD Registration Agency for Europe.",
  },
  {
    text: `Individual researchers or research organisations should review SURF's RAiD webpage and complete an Expression of Interest form.`,
    links: [
      {
        url: "https://www.surf.nl/en/themes/open-science/raid",
        text: "SURF's RAiD webpage",
      },
    ],
  },
];
---

<h2 class="text-raidTextPrimaryDarker text-base">{title}</h2>

<ul class="list-disc text-sm pl-12">
  {
    listItems.map((item) => (
      <li
        set:html={
          item.links
            ? item.links.reduce(
                (acc, link) =>
                  acc.replace(
                    link.text,
                    `<a target="_blank" class="text-raidTextPrimaryDarker" href="${link.url}">${link.text}</a>`
                  ),
                item.text
              )
            : item.text
        }
      />
    ))
  }
</ul>
