---
import backgroundHex from "@/images/backgrounds/background-hex.webp";
---

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-3">
      <div class="flex flex-col gap-3">
        <h1 class="font-semibold text-2xl">
          FAIR, equitable and sustainable access
        </h1>
        <p class="text-sm">
          RAiD incorporates and facilitates FAIR (<strong>F</strong>indable, <strong
            >A</strong
          >ccessible, <strong>I</strong>nteroperable and <strong>R</strong
          >euseable) data principles
          <a
            class="text-raidTextPrimaryDark"
            href="https://www.go-fair.org/fair-principles/">FAIR</a
          >
        </p>
        <p class="text-sm">
          RAiD is open-source and aligned with the <a
            target="_blank"
            class="text-raidTextPrimaryDark"
            href="https://openscholarlyinfrastructure.org/"
            >Principles of Open Scholarly Infrastructure</a
          > (POSI)
        </p>
        <p class="text-sm">
          Provides a globally available project registry with human- and
          machine-readable project metadata, contributing to the documentation
          of data and other research outpus.
        </p>
      </div>
      <div class="sm:block hidden">
        <img src={backgroundHex.src} alt="" />
      </div>
    </div>
  </div>
</div>
