---
import backgroundClock from "@/images/backgrounds/background-clock.webp";

const title = "RAiD Benefits";
const subtitle =
  "Get time-saving, stable and persistent RAiDs for your research projects or activities";
const description =
  "Integration with existing data management systems allows RAiD to minimise time lost on administrative effort and double-data entry when producing reports, preparing and submitting research service applications, or strategically analysing project impacts and outcomes.";
---

<div class="bg-black py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-10">
      <div class="flex flex-col gap-3">
        <h1 class="text-white font-semibold text-2xl">{title}</h1>
        <h2 class="text-base text-white">
          {subtitle}
        </h2>

        <p class="text-sm text-white">
          {description}
        </p>
      </div>
      <div class="hidden sm:block">
        <img src={backgroundClock.src} alt="" />
      </div>
    </div>
  </div>
</div>
