---
import Layout from "@/layouts/main.astro";

const searchQuery = Astro.url.searchParams.get("q") || "";
---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <form class="relative py-12" id="searchForm">
    <div>
      <label for="search" class="block font-medium text-raidPrimary text-xl"
        >Search ORCID</label
      >
      <div class="relative mt-2 flex items-center">
        <input
          type="text"
          name="search"
          id="search"
          value={searchQuery}
          placeholder="Enter search term..."
          class="pl-3 block w-full rounded-md border-0 py-1.5 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm/6"
        />
        <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
          <kbd
            class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400"
            >Enter &crarr;</kbd
          >
        </div>
      </div>
    </div>
  </form>

  <div id="results" class="mt-6">
    <!-- Search results will be displayed here -->
  </div>
</div>

<script>
  import { initializeSearch } from "@/scripts/search";
  import { fetchPersonData } from "@/services/search-service";

  document.addEventListener("DOMContentLoaded", async () => {
    console.log("DOMContentLoaded");
    const personData: any = await fetchPersonData({
      orcidLink: "https://orcid.org/0000-0002-6492-9025",
    });
    console.log("personData", personData);

    // Get the query parameter value
    const urlParams = new URLSearchParams(window.location.search);
    const queryParam = urlParams.get("q");

    // Set the search input value
    const searchInput = document.getElementById("search") as HTMLInputElement;
    if (searchInput && queryParam) {
      searchInput.value = queryParam;
    }

    // Initialize search and trigger if we have a query
    initializeSearch();

    if (queryParam) {
      const searchForm = document.getElementById(
        "searchForm"
      ) as HTMLFormElement;
      if (searchForm) {
        setTimeout(() => {
          searchForm.dispatchEvent(new Event("submit"));
        }, 0);
      }
    }
  });
</script>
