---
import backgroundDataStream from "@/images/backgrounds/background-data-stream.jpg";
const title = "What is RAiD?";
---

<div
  class="bg-cover bg-center"
  style=`background-image: url(${backgroundDataStream.src});`
>
  <div
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 h-[380px] text-center flex items-center justify-center"
  >
    <h1 class="text-white font-light" style={{ fontSize: "7em" }}>
      {title}
    </h1>
  </div>
</div>
