---
const title = "The RAiD metadata record";
const description =
  "RAiD provides a container that brings together other PIDs to record the people, organisations, inputs and outputs associated with the project. Supported PIDs include DOI, ORCID, ROR, IGSN, and others. In addition, RAiD stores key project information not found anywhere else, such as a projects title, start date, description, subject, and other project metdata.";
---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col gap-3 py-12">
    <h1 class="text-black font-semibold text-2xl">{title}</h1>
    <p>
      {description}
    </p>
  </div>
</div>
