---
import Layout from "@/layouts/main.astro";
import SearchOrcid from "@/components/04-search-page/search-orcid.astro";
import SearchRaid from "@/components/04-search-page/search-raid.astro";
---

<Layout title="Search">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1>Search Page...</h1>
    <SearchRaid />
    <SearchOrcid />
  </div>
</Layout>
