---

---

<div class="inset-x-0 top-0 z-50 flex shadow bg-black text-white py-12">
  <div
    class="mx-auto flex w-full max-w-12xl items-center px-4 sm:px-6 lg:px-8 gap-6 justify-between"
  >
    <div class="grid grid-cols-3">
      <div class="flex flex-col gap-5">
        <p>&copy; 2024 Australian Research Data Commons</p>
        <div class="flex gap-12 items-center">
          <div>
            <img
              src="/images/logos/ardc-logo.png"
              alt="ardc-logo"
              class="w-24"
            />
          </div>
          <div>
            <img
              src="/images/logos/ncris-logo.png"
              alt="ncris-logo"
              class="w-24"
            />
          </div>
        </div>
        <p class="text-xs">
          The content of this site is covered by an <a
            target="_blank"
            class="text-blue-400"
            href="https://github.com/au-research/raido/blob/main/license.txt"
            >Apache License 2.0</a
          >
        </p>
      </div>
      <div></div>
      <div class="flex flex-col gap-8">
        <p class="text-xs">
          <a
            target="_blank"
            class="text-blue-400"
            href="mailto:contact@raid.org">contact@raid.org</a
          >
        </p>
        <div class="flex gap-3">
          <a
            target="_blank"
            class="text-blue-400 text-xs"
            href="https://ardc.edu.au/terms-and-conditions/">Terms of use</a
          >
          <a
            target="_blank"
            class="text-blue-400 text-xs"
            href="https://ardc.edu.au/accessibility-statement-for-ardc/"
            >Accessibility</a
          >
          <a
            target="_blank"
            class="text-blue-400 text-xs"
            href="https://ardc.edu.au/privacy-policy/">Privacy Policy</a
          >
        </div>
        <p class="text-xs">
          We acknowledge and celebrate the First Australians on whose
          traditional lands we live and work, and we pay our respects to Elders
          past, present and emerging.
        </p>
      </div>
    </div>
  </div>
</div>
