---
export const metadata = {
  title: "ARDC and DataCite Announce Partnership to Deliver the RAiD Service",
  date: "2024-02-01",
  type: "news",
};
---

<p>
  The ARDC and DataCite have joined forces to deliver RAiD, a fast and reliable service for identifying and tracking research projects and activities.
</p>
