---
export const metadata = {
  title: "ARDC and DataCite Announce Partnership to Deliver the RAiD Service",
  date: "2024-02-01",
  type: "news",
  excerpt:
    " The ARDC and DataCite have joined forces to deliver RAiD, a fast and reliable service for identifying and tracking research projects and activities.",
};
---

<p>
  The ARDC and DataCite have joined forces to deliver RAiD, a fast and reliable service for identifying and tracking research projects and activities.
</p>
<p>
  <a href="https://ardc.edu.au/article/ardc-and-datacite-announce-partnership-to-deliver-the-raid-service/">Read more at the Australian Research Data Commons.</a>
</p>