---
export const metadata = {
  title: "2025 eResearch Australasia Conference",
  date: "2025-10-20",
  type: "event",
  location: "Online",
  excerpt:
    "Join the 2025 eResearch Australasia Conference in Brisbane/Meanjin to exchange ideas and exemplars concerning new information-centric research capabilities.",
};
---

<p>
 Join the 2025 eResearch Australasia Conference in Brisbane/Meanjin to exchange 
 ideas and exemplars concerning new information-centric research capabilities.
</p>
