---
export const metadata = {
  title: "2026 RAiD Global Community Meeting",
  date: "2026-05-20",
  type: "event",
  location: "Online",
  excerpt:
    "Join the RAiD community to hear updates from around the world.",
};
---

## Overview
<p>
Join the RAiD - Research Activity Identifier - global meeting to hear updates from around the world at a time friendly to you.
</p>
<p>
Over three chase-the-sun webinars, we will share an update on RAiD (Research Activity Identifier), an international standard (ISO 23527:2022), persistent identifier, and global registry for identifying, tracking and sharing research projects, developed by the Australian Research Data Commons (ARDC).
</p>
<p>
We will share updates from the the Australian Research Data Commons on the global state of RAiD as well as the Australian ARDC RAiD Service.
</p>
<p>
We will be joined by a number of guest speakers who will discuss how RAiD links with other systems.
</p>
<p>
This session will be recorded and shared with all who register.
</p>
<h1>Who should attend?</h1>
<p>
Researchers, academics, university librarians, researchers who code, research data specialists, digital infrastructure providers, research support professionals, data custodians, digital research trainers.
</p>
<h1>
What will participants gain from the session?
</h1>
<p>
Attendees will gain a better understanding of RAiD and the work ahead.
</p>
<h1>
Will the sessions be recorded?
</h1>
<p>
  Yes, the sessions will be recorded. The recording will be provided to all registrants and published on the ARDC YouTube channel.
</p>
<h1>Have questions?</h1>
<p>
Email Matthias at <a href="mailto:contact@ardc.edu.au">contact@ardc.edu.au</a>
</p>
<p>
Please note that this event may be recorded and published by the ARDC. This may include your contributions during the session. ARDC respects the privacy of individuals. Information collected is in accordance with the ARDC Privacy Policy. Attendees are expected to comply with the Code of Conduct for ARDC Activities during this event.
</p>
<ul>
  <li><a href="https://www.eventbrite.com.au/e/raid-global-community-meeting-asia-pacific-tickets-1987608661010">Register for Australia-Pacific meeting (hosted by ARDC)</a></li>
  <li><a href="https://www.eventbrite.com.au/e/raid-global-community-meeting-emea-tickets-1987684659323">Register for the Europe, Middle East, and Africa meeting (hosted by ARDC and SURF)</a></li>
  <li><a href="https://lyrasis.zoom.us/meeting/register/z2xvhqPxTESemX2H-3jvNQ">Register for the Americas meeting (hosted by SDSC and Lyrasis)</a></li>
</ul>
  
</p>
