---
export const metadata = {
  title: "RAiD Expansion to US Strengthens Global Research Transparency and Tracking",
  date: "2026-03-17",
  type: "news",
  excerpt:
    " The San Diego Supercomputer Center (SDSC) has received a National Science Foundation (NSF) grant to set up an inaugural Research Activity Identifier (RAiD) Registration Agency for the US in partnership...",
};
---

<p>
  The San Diego Supercomputer Center (SDSC) has received a National Science Foundation (NSF) grant to set up an inaugural Research Activity Identifier (RAiD) Registration Agency for the US in partnership...
</p>
