---
const title =
  "Tracking research projects for advanced outcomes. Always RAiD your research project or activity for open worldwide access";
---

<div
  class="bg-cover bg-center"
  style="background-image: url('/images/backgrounds/background-lab.jpg');"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 h-[380px]">
    <div class="grid grid-cols-1 h-full">
      <h1 class="text-white font-light text-3xl self-end pb-20">
        {title}
      </h1>
    </div>
  </div>
</div>
