---
import RaidButton from "@/components/layout-components/raid-button.astro";

import researchOrganisationIcon from "@/images/icons/research-organisation-icon.webp";
import logicIcon from "@/images/icons/logic-icon.webp";
import developmentIcon from "@/images/icons/development-icon.webp";
import cognitiveExperienceIcon from "@/images/icons/cognitive-experience-icon.webp";
import planificationIcon from "@/images/icons/planification-icon.webp";

const baseSlug = import.meta.env.BASE_SLUG ? import.meta.env.BASE_SLUG : "";

const tiles = [
  {
    title: "What is RAiD?",
    link: `https://raid.org/what-is-raid`,
    icon: researchOrganisationIcon.src,
  },
  {
    title: "How RAiD works",
    link: `https://raid.org/what-is-raid`,
    icon: logicIcon.src,
  },
  {
    title: "RAiD System Setup",
    link: `https://raid.org/what-is-raid`,
    icon: developmentIcon.src,
  },
  {
    title: "Why RAiD?",
    link: `https://raid.org/what-is-raid`,
    icon: cognitiveExperienceIcon.src,
  },
  {
    title: "How RAiD works",
    link: `https://raid.org/what-is-raid`,
    icon: planificationIcon.src,
  },
];
---

<div class="bg-gray-200">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-8">
    <div
      class="mx-auto max-w-7xl sm:px-6 lg:px-8 grid grid-cols-3 sm:grid-cols-5 gap-6 min-h-96 place-items-cente"
    >
      {
        tiles.map((el) => (
          <div class="h-full w-full py-12">
            <div class="bg-raidGray flex flex-col items-center justify-start text-center gap-2 h-full">
              <img src={el.icon} class="w-36 h-36 rounded-full" alt="" />
              <h2 class="text-lg text-raidTextPrimary">{el.title}</h2>
              <RaidButton label={`${el.title}`} href={el.link} />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
